body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 1.2em;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 500px;
}

/* Apply transforms to .box elements */
#box1 {
    transform: translate(0, 0) rotate(0) scale(1) skew(0);
    background-color: red;
}

#box2 {
    transform: translate(50px, 50px) rotate(45deg) scale(1.2) skew(-10deg, 10deg);
    background-color: grey;
}

#box3 {
    transform: translate(-50px, -50px) rotate(-45deg) scale(0.8) skew(10deg, -10deg);
    background-color: aqua;
}